# PostgreSQL
POSTGRES_DB=yourdbname
POSTGRES_USER=yourusername
POSTGRES_PASSWORD=yourpassword

# Django
DJANGO_SECRET_KEY=your-secret-key
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
