# PostgreSQL
POSTGRES_DB=homework
POSTGRES_USER=postgres
POSTGRES_PASSWORD=202054

# Django
DJANGO_SECRET_KEY=sk_test_51R6C6QKGhL0esuUxZnb82UpUTGeKBATsukJi31EpehP43A8mGmAxkgCwiINTKIpseXQBNa4hp8HAP803J5mZXp0A001wrBsW9K
DEBUG=1
ALLOWED_HOSTS=127.0.0.1,localhost

# Redis
REDIS_HOST=redis
REDIS_PORT=6379
